body{
    margin: 0;
    padding: 0;
}
#a{
    background-color:rgba(0, 0, 0, 0.814);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#b{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 15px;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    border: 1px solid blue;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
}
#one{
    background-image:url('https://wallpapercave.com/wp/7OuTFOg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
#two{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/022/448/291/large_2x/save-earth-day-poster-environment-day-nature-green-ai-generative-glossy-background-images-tree-and-water-free-photo.jpg');
}
#t1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify;
    justify-content: center;
    padding: 15px;
    font-size: 22px;
    line-height: 20px;
}
#three{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    text-align: center;
    justify-content: center;
}
#th1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
#four{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://wallup.net/wp-content/uploads/2016/02/18/286992-nature-colorful-photography.jpg');
}
#f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#five{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/014/776/193/small_2x/colorful-autumn-sunrise-clouds-sky-over-lake-panoramic-nature-landscape-peaceful-dream-water-surface-sunset-autumnal-background-forest-lake-mountains-around-peaceful-amazing-nature-panorama-photo.jpg');
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-position: center;
    padding-bottom: 30px;
}
