*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#a{
    background-color:rgba(0, 0, 0, 0.814);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#b{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 15px;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
a:hover{
    border: 1px solid blue;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
}
#one{
    background-image:url('https://demo.goodlayers.com/greennature/wp-content/uploads/2015/10/slider-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
#c{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
#c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: burlywood;   
    padding-top: 20px;
    padding-left: 15px; 
    padding-bottom: 10px;      
}
#c2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-top: 20px;   
    padding-left: 15px;
    padding-bottom: 10px;  
}
#c3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: chocolate;  
    padding-top: 20px; 
    padding-left: 15px;
    padding-bottom: 10px;        
}
#d{
    background-image: url('https://static.vecteezy.com/system/resources/previews/023/188/651/non_2x/earth-day-tree-on-the-green-earth-background-generative-ai-free-photo.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: moccasin;
}
#d1{
    background-color: rgba(18, 135, 4, 0.512);
    border-radius: 15px;
    width: 40%;
    flex-direction: column;
    padding-top: 20px;   
    padding-left: 15px;
    padding-bottom: 20px; 
    align-items: center;
    justify-content: center;

}
#d2{
    background-color: rgba(23, 174, 16, 0.438);
    border-radius: 15px;
    width: 40%;
    flex-direction: column;
    padding-top: 20px;   
    padding-left: 15px;
    padding-bottom: 20px;  
    align-items: center;
    justify-content: center; 
}
#e{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    text-align: center;
    justify-content: center;
}
#e1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
#f{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://static.vecteezy.com/system/resources/previews/022/448/291/large_2x/save-earth-day-poster-environment-day-nature-green-ai-generative-glossy-background-images-tree-and-water-free-photo.jpg');
}
#f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
#g{
    width: 100%;
    background-image: url('https://wallpapercave.com/wp/wp5710037.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: azure;

}
#g1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

